/* .create-event-form {
    border: 1px solid; 
    margin: 5% auto;
    width: 60%;
    height: 80vh;
}

.create-event-form label, input, textarea {
    
    width: 50%;
    font-size: 16px;
    display: block;
    margin: 0.5rem auto;
    border: none;
    border-radius: 10px;
    background-color: #A58CB3;
    height: 40px;
    color: #EAE7FA;
    width: 100%;
}

.create-event-form input, textarea {
    background-color: #838BC2;
    color: #EAE7FA;
}

::placeholder {
    color: #EAE7FA;
}

.create-event-form input[type="submit"] {
    background-color: #A58CB3;
    width: 200px;
    line-height: 30px;
} 
*/