/* .footer-container {
  background-color: rgb(140, 113, 161);
}
.footer-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.footer-items a:hover {
  color: rgb(112, 70, 145);
  cursor: pointer;
}
.footer-copyright {
  font-style: italic;
} */