.navbar-container {
  padding: 0;
  margin: 0;
  background: linear-gradient(90deg, rgba(118, 127, 187) 0%, rgb(138, 110, 155) 80%);
  /* linear-gradient(90deg, rgba(131,139,194,1) 0%, rgba(165,140,179,1) 50%, rgba(131,139,194,1) 100%); */
  display: flex;
  align-items: center;
}
.navbar-container h1 {
  padding: 10px;
  margin: 15px 30px;
  font-size: 40px;
  display: inline-block;
  justify-content: left;
  color: rgba(118, 127, 187);
  background-color: #EAE7FA;
  height: max-content;
  width: max-content;
  border-radius: 10px;
}
.navbar-container h3 {
  padding: 20px;
  margin: 0 30px;
  font-size: 30px;
  display: inline-block;
  justify-content: left;
  color: #D9A1A0;
  font-style: italic;
}
.navbar-container h3:hover {
  text-decoration: underline;
}